.searchform {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}

.recipe-pic img {
	border-radius: 8px;
	width: 100%;
	height: auto
}

.next-bt {
	text-align: right;
}

.prev-bt {
	text-align: left;
}

.pointer {
	cursor: pointer;
}

.prev-next {
	
	color: #FB6E9D !important;
}