.ingredients-fields-header {
	background:
		url(https://cdn-image.myrecipes.com/sites/all/themes/myrecipes/images/legacy/ic-paddlehandle.jpg)
		center no-repeat; display : block;
	float: left;
	height: 90px;
	width: 100%;
	display: block;
}

.ingredients-fields-container {
	background:
		url(https://cdn-image.myrecipes.com/sites/all/themes/myrecipes/images/legacy/ic-paddleboard-3.jpg)
		center no-repeat;
	display: block;
	float: left;
	height: 326px;
	padding-top: 130px;
	text-align: center;
	width: 100%;
}

.ingred-input {
	margin-bottom: 8px;
	border-radius: 5px;
	margin-top: 10px;
}


#ingred-submit {
	background: rgb(241, 82, 120,0.5);
	border: 0;
	border-radius: 4px;
	color: white;
	font-weight: 600;
	height: 32px;
	margin-top: -2px;
	text-align: center;
	text-transform: uppercase;
	width: 127px;transition: all 1s ease;
}
#ingred-submit:hover {	background: rgb(241, 82, 120,0.9);
font-weight: 700;}



.recipes{    margin-top: 30px;}
.recipe-title{ margin-top:25px;}