<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>A Nyúlon túl</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="screen"
	href="/css/base.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/loginreg.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/favorite.css">
	<link rel="stylesheet" type="text/css" media="screen"
	href="/css/recipes.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<script>
	function whichElement(e) {
		var targ;
		if (!e) {
			var e = window.event;
		}
		if (e.target) {
			targ = e.target;
		} else if (e.srcElement) {
			targ = e.srcElement;
		}
		var tname;
		tname = targ.name;
		window.location = 'meal?id=' + tname;

	}
</script>
</head>

<body>

	<!--Menu-->
	<div th:insert="fragments/menu :: menu"></div>

	<div class="container">
		<!--Login-->
		<div th:insert="fragments/login :: login"></div>


		<!--Registry-->
		<div th:insert="fragments/register :: register"></div>


		<!--Content-->

		<div class="row section-description title">
			<div class="col-sm-12 ">
				<h2 class = "title" th:text = "${currentUserName} + ' favourite recipes'"></h2>
			</div>
			
			<div class="col-sm-12">
				<div class="col-sm-3" th:each="recipe: ${favoritsList}">
					<p th:text="${recipe.name}" />
				</div>
			</div>

			<div class="col-sm-12 recipe-pic ">
				<div class="col-sm-3 pointer" th:each="recipe: ${favoritsList}">
					<img th:src="${recipe.mealPictureLink}" th:name="${recipe.id}"
						onclick="whichElement(event)">
				</div>
			</div>
			<div class="col-sm-12 ">
				<div class="col-sm-6 prev-bt" th:if="${0 != currentPage}">
					<a class="prev-next"
						th:href="'/favorites?page=' + ${currentPage-1}">&lt&ltPrevious</a>
				</div>
				<div class="col-sm-6" th:unless="${0 != currentPage}">
					<p></p>
				</div>
				<div class="col-sm-6 next-bt" th:if="${maxPages-1 != currentPage and maxPages !=0}">
					<div>
						<a  class="prev-next"th:href="'/favorites?page=' + ${currentPage+1}">Next>></a>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--Footer-->
	<div th:insert="fragments/footer :: footer"></div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src=" http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
	<script
		src="  http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
	<script src="/js/loginRegValidation.js"></script>
	<script src="/js/ajaxloginreg.js"></script>
</body>
</html>