﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>A Nyúlon túl</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="screen"
	href="css/base.css">

<link rel="stylesheet" type="text/css" media="screen"
	href="/css/loginreg.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="css/meal.css">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">



<script>
	function goBack() {
		window.history.back();
	}
</script>

</head>

<body>
	<!--Menu-->
	<div th:insert="fragments/menu :: menu"></div>

	<div class="container recip-container">
		<!--Login-->
		<div th:insert="fragments/login :: login"></div>


		<!--Registry-->
		<div th:insert="fragments/register :: register"></div>


		<!--Content-->


		<div class="row section-description title">
			<div class="col-sm-12 ">
				<h2 th:text="${recipe.name}"></h2>
				<div class="col-sm-12 ">
					<div class="Mybuttons" align="center">
						<form th:if="${recipeLiked == 'Like'}">

							<input th:if="${currentUserName == null}"
								class="personal ishidden like" id="favButton" type="image"
								src="img/dislike.png" onmouseover='this.src="img/like.png"'
								onmouseout='src="img/dislike.png"' value="Like"> <input
								th:unless="${currentUserName == null}" class="personal like"
								id="favButton" type="image" src="img/dislike.png"
								onmouseover='this.src="img/like.png"'
								onmouseout='src="img/dislike.png"' value="Like">

						</form>
						<form th:unless="${recipeLiked == 'Like'}">

							<input th:if="${currentUserName == null}"
								class="personal ishidden like" id="favButton" type="image"
								src="img/like.png" onmouseover='src="img/dislike.png"'
								onmouseout='src="img/like.png"' value="Dislike"> <input
								th:unless="${currentUserName == null}" class="personal like"
								id="favButton" type="image" src="img/like.png"
								onmouseover='this.src="img/dislike.png"'
								onmouseout='src="img/like.png"' value="Dislike">

						</form>

					</div>
				</div>
			</div>
			<div class="col-sm-12 content">
				<div class="col-sm-6 picture">
					<img th:src="${recipe.mealPictureLink}">
				</div>
				<div class="col-sm-6  rec-desc">
					<h3>

						<u>Ingredients List</u>

					</h3>
					<div class="ingred">
						<li th:each="product: ${products}" th:text="${product}"></li>
					</div>
					<h3>

						<u>Instructions</u>

					</h3>

					<p th:text="${recipe.strInstructions}"></p>

					<div class="videolink">
						<a th:href="${recipe.mealYuotubeLink}">Click here for video
							help :)</a>
					</div>

				</div>
			</div>
			<div>
				<form id="buyForm" action="#" th:action="@{/shoppingCart}"
					th:object="${profileFormData}" method="GET">

					<input type="hidden" name="recipeId" th:value="${recipe.id}">
					<div class="buy">
						<input th:if="${currentUserName == null}" class="buttons ishidden"
							type="submit" value="Buy>>"> 
						<button id="shoppingCart-image"
							th:unless="${currentUserName == null}" class="buttons"
							type="submit">
						<i class="fas fa-shopping-cart"></i>
						</button>

					</div>
				</form>
			</div>

			<div class="back">
				<input class="buttons" type="submit" onclick="goBack()"
					value="<<Back">
			</div>

		</div>

	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
	<script src="/js/loginRegValidation.js"></script>
	<script src="/js/ajaxloginreg.js"></script>
	<script src="/js/favorite.js"></script>
</body>

</html>