<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>A Nyúlon túl</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="screen"
	href="/css/base.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/loginreg.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/searchByIngred.css">
	<link rel="stylesheet" type="text/css" media="screen"
	href="/css/recipes.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<script>
	function whichElement(e) {
		var targ;
		if (!e) {
			var e = window.event;
		}
		if (e.target) {
			targ = e.target;
		} else if (e.srcElement) {
			targ = e.srcElement;
		}
		var tname;
		tname = targ.name;
		window.location = 'meal?id=' + tname;

	}
</script>
</head>

<body>

	<!--Menu-->
	<div th:insert="fragments/menu :: menu"></div>



	<div class="container">

		<!--Login-->
		<div th:insert="fragments/login :: login"></div>


		<!--Registry-->
		<div th:insert="fragments/register :: register"></div>


		<!--Content-->
		<div class="row section-description title">
			<div class="col-sm-12 ">
				<h2>Search By Ingredients</h2>
			</div>

			<form th:action="@{/searchByIngr}"
				th:object="${searchByIngredientsData}" method="get">
				<div>
					<div class="ingredients-fields-header"></div>
					<div class="ingredients-fields-container">
						<div>
							<input class="ingred-input" placeholder="e.g. chicken"
								id="ingred1" type="text" th:field="*{ingred1}" size="25"
								maxlength="128">
						</div>

						<div>
							<input class="ingred-input" placeholder="e.g. rice" id="ingred2"
								type="text" th:field="*{ingred2}" size="25" maxlength="128">
						</div>

						<div>
							<input class="ingred-input" placeholder="e.g. egg" id="ingred3"
								type="text" th:field="*{ingred3}" size="25" maxlength="128">
						</div>

						<input class="ingred-input" type="submit" id="ingred-submit"
							value="FIND RECIPES">
					</div>

				</div>
			</form>

			<div th:if="${recipes} == null">
	
			</div>
		

			<div class="col-sm-12 recipes"   th:unless="${recipes == null}">

				
					<div class="col-sm-12 recipe-pic ">
				<div class = "col-sm-3 pointer recipe-title" th:each="recipe: ${recipes}">
				<p th:text="${recipe.name}" />
					<img th:src="${recipe.mealPictureLink}" th:name="${recipe.id}" onclick="whichElement(event)">
				</div>
			</div>
		


		</div>
	</div>
	</div>
<!--Footer-->
	<div th:insert="fragments/footer :: footer"></div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src=" http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
	<script
		src="  http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
	<script src="/js/loginRegValidation.js"></script>
	<script src="/js/ajaxloginreg.js"></script>
</body>
</html>